<div class="breadcrumb-area breadcrumb-ptb-3">
    <div class="container">
        <div class="breadcrumb-content-2 breadcrumb-content-2-center">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
</div>
<div class="portfolio-area section-padding-1 pb-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="portfolio-wrap">
                    <h1 class="center width-2">We work what we do & our work is highly <span>creative.</span></h1>
                    <div class="isotope-menu isotope-menu-style-1 isotope-menu-active mb-50">
                        <button class="active" data-filter="*">ALL</button>
                        <button data-filter=".cat1">Fashion Design </button>
                        <button data-filter=".cat2">Models</button>
                        <button data-filter=".cat3">Photography </button>
                    </div>
                    <div class="row grid-3">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-10.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Tommy Highfilter – Fashion design formen
                                                project</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat3 cat2">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-21.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Alexandra Stan in luxury leather style for
                                                Zara fashion brand</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat2 cat1">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-12.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Models ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">iBags – Messenger leather bags for men</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat1">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-22.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Catherlin Rusakovic fashion model</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat3">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-23.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Models ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Gentlemen fashion sets</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat2">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-15.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Hipster men fashion model 2021</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat1">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-24.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Models ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Pantone colour for fashion trending
                                                insunmmer 2021</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat3">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-25.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design </a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Bearded men with tattoo</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat2">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-9.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Hublot Watch – The luxury brand foractive
                                                guys</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat2 cat1">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-27.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Hublot Watch – The luxury brand foractive
                                                guys</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat2 cat1">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-28.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Photography</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Hublot Watch – The luxury brand foractive
                                                guys</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-10.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Tommy Highfilter – Fashion design formen
                                                project</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-12.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Tommy Highfilter – Fashion design formen
                                                project</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-13.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Fashion Design ,</a>
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Tommy Highfilter – Fashion design formen
                                                project</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat3 cat2">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-15.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Alexandra Stan in luxury leather style for
                                                Zara fashion brand</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 grid-item-3 cat3 cat2">
                            <div class="single-portfolio-2 mb-30">
                                <div class="portfolio-img-2 mb-20">
                                    <a href="portfolio-details.html"><img src="assets/images/project/portfolio-17.jpg"
                                            alt=""></a>
                                    <div class="portfolio-icon-2">
                                        <a href="portfolio-details.html"><i class="ion-ios-plus-empty"></i></a>
                                    </div>
                                    <div class="portfolio-content-3">
                                        <div class="portfolio-category-2">
                                            <a href="#">Models</a>
                                        </div>
                                        <h3><a href="portfolio-details.html">Alexandra Stan in luxury leather style for
                                                Zara fashion brand</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>