<div class="breadcrumb-area section-padding-1 breadcrumb-ptb-1">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>Blog Post Grid With Sidebar</h2>
        </div>
    </div>
</div>
<div class="blog-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="isotope-menu isotope-menu-style-1 isotope-menu-active mb-50">
                    <button class="active" data-filter="*">ALL</button>
                    <button data-filter=".cat1">Other </button>
                    <button data-filter=".cat2">Life Style</button>
                    <button data-filter=".cat3">Fashion </button>
                    <button data-filter=".cat4">Business </button>
                </div>
                <div class="row grid-3">
                    <div class="col-lg-4 col-md-6 col-12 grid-item-3 cat1 cat3">
                        <div class="single-blog-2 mb-45">
                            <div class="blog-img mb-20">
                                <a href="blog-details.html"><img src="assets/images/blog/blog-masonry-1.jpg"
                                        alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-date">
                                    <a href="#">October 7, 2019</a>
                                </div>
                                <h3><a href="blog-details.html">Mr.Bara Mascara – Attrachtive Any Guy That You Want</a>
                                </h3>
                                <div class="btn-style-12">
                                    <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 grid-item-3 cat2 cat4">
                        <div class="single-blog-2 mb-45">
                            <div class="blog-img mb-20">
                                <a href="blog-details.html"><img src="assets/images/blog/blog-masonry-2.jpg"
                                        alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-date">
                                    <a href="#">October 7, 2019</a>
                                </div>
                                <h3><a href="blog-details.html">Inspiration Of This Week – Makeup So Stunning For Your
                                        Party</a></h3>
                                <div class="btn-style-12">
                                    <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 grid-item-3 cat1 cat3">
                        <div class="single-blog-2 mb-45">
                            <div class="blog-img mb-20">
                                <a href="blog-details.html"><img src="assets/images/blog/blog-masonry-3.jpg"
                                        alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-date">
                                    <a href="#">October 7, 2019</a>
                                </div>
                                <h3><a href="blog-details.html">Make Your Lips Become Charming More Just After 5
                                        Minutes</a></h3>
                                <div class="btn-style-12">
                                    <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 grid-item-3 cat2 cat4">
                        <div class="single-blog-2 mb-45">
                            <div class="blog-img mb-20">
                                <a href="blog-details.html"><img src="assets/images/blog/blog-masonry-4.jpg"
                                        alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-date">
                                    <a href="#">October 7, 2019</a>
                                </div>
                                <h3><a href="blog-details.html">Mr.Bara Mascara – Attrachtive Any Guy That You Want</a>
                                </h3>
                                <div class="btn-style-12">
                                    <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 grid-item-3 cat1 cat3">
                        <div class="single-blog-2 mb-45">
                            <div class="blog-img mb-20">
                                <a href="blog-details.html"><img src="assets/images/blog/blog-masonry-5.jpg"
                                        alt="blog"></a>
                                <div class="video-icon">
                                    <a class="video-popup"
                                        href="https://player.vimeo.com/video/181061053?autoplay=1&amp;byline=0&amp;collections=0"><i
                                            class="ion-play"></i></a>
                                </div>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-date">
                                    <a href="#">October 7, 2019</a>
                                </div>
                                <h3><a href="blog-details.html">Inspiration Of This Week – Makeup So Stunning For Your
                                        Party</a></h3>
                                <div class="btn-style-12">
                                    <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 grid-item-3 cat2 cat4">
                        <div class="single-blog-2 mb-45">
                            <div class="blog-img mb-20">
                                <a href="blog-details.html"><img src="assets/images/blog/blog-masonry-6.jpg"
                                        alt="blog"></a>
                            </div>
                            <div class="blog-content-3">
                                <div class="blog-date">
                                    <a href="#">October 7, 2019</a>
                                </div>
                                <h3><a href="blog-details.html">Make Your Lips Become Charming More Just After 5
                                        Minutes</a></h3>
                                <div class="btn-style-12">
                                    <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-style">
                    <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="arrow_right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>