.left-sidebar {
    overflow: hidden !important;
}

.scroll-sidebar:hover {
    overflow-y: scroll !important;
}

::-webkit-scrollbar {
    /* Remove scrollbar space */
    width      : 0;
    /* Optional: just make scrollbar invisible */
    background : transparent;
}

.floating-labels .form-control:focus {
    background-color: #EDF1F5 !important;
}

.floating-labels .form-control {
    background-color: #EDF1F5 !important;
    border-bottom:1px solid red !important;
}