<div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
        <a class="cart-close" href="#"><i class="icon_close"></i> Close </a>
        <div class="cart-content">
            <h3>Cart</h3>
            <ul>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="product-details.html"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="product-details.html">Obey T-shirt With Tiger Print</a></h4>
                        <span> 1 × $30.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#"><i class="icon_close"></i></a>
                    </div>
                </li>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="product-details.html"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="product-details.html">Satchel In Washed Navy Canvas </a></h4>
                        <span> 1 × $12.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#"><i class="icon_close"></i></a>
                    </div>
                </li>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="product-details.html"><img src="assets/images/cart/cart-3.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="product-details.html">The North Face T-Shirt</a></h4>
                        <span> 1 × $25.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#"><i class="icon_close"></i></a>
                    </div>
                </li>
            </ul>
            <div class="cart-total">
                <h4>Subtotal: <span>$67.00</span></h4>
            </div>
            <div class="cart-checkout-btn">
                <a class="cart" href="cart.html">view cart <i class="ion-ios-arrow-right"></i></a>
                <a class="checkout" href="checkout.html">checkout <i class="ion-ios-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="error-area bg-img  section-padding-1" style="background-image:url(assets/images/bg/bg-2.jpg);">
    <div class="error-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>403</h1>
                    <h3>ohh! You are not allowed to be here. Please go back home!</h3>
                    <p> It seems we can't find what you're looking for. Perhaps searching can help or go back to <a
                            routerLink="/" href="#">Homepage</a></p>
                    <div class="search-style-4">
                        <form action="#">
                            <input type="text" placeholder="Search …">
                            <button class="button-search-4"><i class="icon_search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>