<div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
        <a class="cart-close" href="#"><i class="icon_close"></i> Close </a>
        <div class="cart-content">
            <h3>Cart</h3>
            <ul>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="product-details.html"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="product-details.html">Obey T-shirt With Tiger Print</a></h4>
                        <span> 1 × $30.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#"><i class="icon_close"></i></a>
                    </div>
                </li>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="product-details.html"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="product-details.html">Satchel In Washed Navy Canvas </a></h4>
                        <span> 1 × $12.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#"><i class="icon_close"></i></a>
                    </div>
                </li>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="product-details.html"><img src="assets/images/cart/cart-3.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="product-details.html">The North Face T-Shirt</a></h4>
                        <span> 1 × $25.00 </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#"><i class="icon_close"></i></a>
                    </div>
                </li>
            </ul>
            <div class="cart-total">
                <h4>Subtotal: <span>$67.00</span></h4>
            </div>
            <div class="cart-checkout-btn">
                <a class="cart" href="cart.html">view cart <i class="ion-ios-arrow-right"></i></a>
                <a class="checkout" href="checkout.html">checkout <i class="ion-ios-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-area section-padding-1 breadcrumb-ptb-1">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>Blog Post Grid With Sidebar</h2>
        </div>
    </div>
</div>
<div class="blog-area pb-120">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-xl-9 col-lg-9">
                <div class="blog-wrap-ml">
                    <div
                        class="isotope-menu isotope-menu-style-1 isotope-menu-style-1-modify isotope-menu-active mb-50">
                        <button class="active" data-filter="*">ALL</button>
                        <button data-filter=".cat1">Other </button>
                        <button data-filter=".cat2">Life Style</button>
                        <button data-filter=".cat3">Fashion </button>
                        <button data-filter=".cat4">Business </button>
                    </div>
                    <div class="row grid-3">
                        <div class="col-lg-6 col-md-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-blog-2 mb-45">
                                <div class="blog-img mb-20">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-7.jpg" alt="blog"></a>
                                </div>
                                <div class="blog-content-3">
                                    <div class="blog-date">
                                        <a href="#">October 7, 2019</a>
                                    </div>
                                    <h3><a href="blog-details.html">Mr.Bara Mascara – Attrachtive Any Guy That You
                                            Want</a></h3>
                                    <div class="btn-style-12">
                                        <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 grid-item-3 cat2 cat4">
                            <div class="single-blog-2 mb-45">
                                <div class="blog-img mb-20">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-8.jpg" alt="blog"></a>
                                </div>
                                <div class="blog-content-3">
                                    <div class="blog-date">
                                        <a href="#">October 7, 2019</a>
                                    </div>
                                    <h3><a href="blog-details.html">Inspiration Of This Week – Makeup So Stunning For
                                            Your Party</a></h3>
                                    <div class="btn-style-12">
                                        <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-blog-2 mb-45">
                                <div class="blog-img mb-20">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-9.jpg" alt="blog"></a>
                                </div>
                                <div class="blog-content-3">
                                    <div class="blog-date">
                                        <a href="#">October 7, 2019</a>
                                    </div>
                                    <h3><a href="blog-details.html">Make Your Lips Become Charming More Just After 5
                                            Minutes</a></h3>
                                    <div class="btn-style-12">
                                        <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 grid-item-3 cat2 cat4">
                            <div class="single-blog-2 mb-45">
                                <div class="blog-img mb-20">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-10.jpg"
                                            alt="blog"></a>
                                </div>
                                <div class="blog-content-3">
                                    <div class="blog-date">
                                        <a href="#">October 7, 2019</a>
                                    </div>
                                    <h3><a href="blog-details.html">Mr.Bara Mascara – Attrachtive Any Guy That You
                                            Want</a></h3>
                                    <div class="btn-style-12">
                                        <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 grid-item-3 cat1 cat3">
                            <div class="single-blog-2 mb-45">
                                <div class="blog-img mb-20">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-11.jpg"
                                            alt="blog"></a>
                                    <div class="video-icon">
                                        <a class="video-popup"
                                            href="https://player.vimeo.com/video/181061053?autoplay=1&amp;byline=0&amp;collections=0"><i
                                                class="ion-play"></i></a>
                                    </div>
                                </div>
                                <div class="blog-content-3">
                                    <div class="blog-date">
                                        <a href="#">October 7, 2019</a>
                                    </div>
                                    <h3><a href="blog-details.html">Inspiration Of This Week – Makeup So Stunning For
                                            Your Party</a></h3>
                                    <div class="btn-style-12">
                                        <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 grid-item-3 cat2 cat4">
                            <div class="single-blog-2 mb-45">
                                <div class="blog-img mb-20">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-12.jpg"
                                            alt="blog"></a>
                                </div>
                                <div class="blog-content-3">
                                    <div class="blog-date">
                                        <a href="#">October 7, 2019</a>
                                    </div>
                                    <h3><a href="blog-details.html">Make Your Lips Become Charming More Just After 5
                                            Minutes</a></h3>
                                    <div class="btn-style-12">
                                        <a href="blog-details.html">Continue <i class="arrow_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-style">
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="arrow_right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="sidebar-wrapper">
                    <div class="sidebar-widget mb-45">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Search </h3>
                        </div>
                        <div class="sidebar-search">
                            <form action="#">
                                <input type="text" placeholder="Search …">
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <div class="sidebar-widget-title mb-20">
                            <h3>Categories </h3>
                        </div>
                        <div class="sidebar-list-style-3">
                            <ul>
                                <li><a href="blog.html"><i class="arrow_triangle-right"></i> Business</a></li>
                                <li><a href="blog.html"><i class="arrow_triangle-right"></i> Entertaiment</a></li>
                                <li><a href="blog.html"><i class="arrow_triangle-right"></i> Fashion</a></li>
                                <li><a href="blog.html"><i class="arrow_triangle-right"></i> Life Style</a></li>
                                <li><a href="blog.html"><i class="arrow_triangle-right"></i> Other</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <div class="sidebar-widget-title mb-15">
                            <h3>Latest tweets </h3>
                        </div>
                        <div class="latest-tweet-wrap">
                            <div class="single-latest-tweet-wrap">
                                <p><a href="#">@HTML, </a>RT @ <a href="#">metalandcoffee_</a> I wrote some words about
                                    my experience contributing to the open-source project that is... @ <a
                                        href="#">@HTML,</a> !!! Part 1, of co…</p>
                                <span>2 weeks ago</span>
                            </div>
                            <div class="single-latest-tweet-wrap">
                                <p><a href="#">@HTML, </a>How HTML Improves <a href="#">https://t.co/yfekdHqWmA</a></p>
                                <span>2 weeks ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Recent posts </h3>
                        </div>
                        <div class="sidebar-post-wrap">
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-1.jpg"
                                            alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Tropical house music for guys that love snow
                                            flower</a></h4>
                                    <span> December, 01st, 2020</span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-2.jpg"
                                            alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Vans of The Wall – The favourite brand of young
                                            fashion</a></h4>
                                    <span> November, 05th, 2020</span>
                                </div>
                            </div>
                            <div class="single-sidebar-post">
                                <div class="sidebar-post-img">
                                    <a href="blog-details.html"><img src="assets/images/blog/blog-sidebar-3.jpg"
                                            alt=""></a>
                                </div>
                                <div class="sidebar-post-content">
                                    <h4><a href="blog-details.html">Tim Berg – Fashionista, How to mix style so cool in
                                            spring</a></h4>
                                    <span> November, 04th, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Popular tags </h3>
                        </div>
                        <div class="sidebar-tag-wrap">
                            <a href="#">business ,</a>
                            <a href="#">clothings ,</a>
                            <a href="#">Design ,</a>
                            <a href="#">Entertaiment ,</a>
                            <a href="#">Entertainment ,</a>
                            <a href="#">fashion ,</a>
                            <a href="#">Internet ,</a>
                            <a href="#">Marketing ,</a>
                            <a href="#">business ,</a>
                            <a href="#">Music ,</a>
                            <a href="#">new style ,</a>
                            <a href="#">Print ,</a>
                            <a href="#">spring ,</a>
                            <a href="#">summer </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>